<h3>Registro de ususario</h3>
<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
  <div class="form-group">
    <label for="firstName">Nombre</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.firstName.errors }" placeholder="Enter First Name here"/>
        <div *ngIf="submitted && fval.firstName.errors" class="invalid-feedback">
            <div *ngIf="fval.firstName.errors.required">Nombre es requerido</div>
        </div>
  </div>

  <div class="form-group">
    <label for="lastName">Apellido</label>
        <input type="text" formControlName="lastName" class="form-control" placeholder="Enter Last Name here"/>
  </div>
  <div class="form-group">
    <label for="email">Correo</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }" placeholder="Enter email here"/>
    <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
        <div *ngIf="fval.email.errors.required">Email is required</div>
        <div *ngIf="fval.email.errors.email">Ingrese un correo válido</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Teléfono</label>
    <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.phone.errors }" placeholder="Enter Phone here"/>
    <div *ngIf="submitted && fval.phone.errors" class="invalid-feedback">
        <div *ngIf="fval.phone.errors.required">Teléfono es requerido</div>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.password.errors }" placeholder="Enter Password here"/>
    <div *ngIf="submitted && fval.password.errors" class="invalid-feedback">
        <div *ngIf="fval.password.errors.required">Password es requerido</div>
        <div *ngIf="fval.password.errors.minlength">Password debe tener al menos 6 caracteres</div>
    </div>
    
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Registre
    </button>
    <a routerLink="/login" class="btn btn-link">Login para continuar</a>
</div>
</form>